// by @sergodeeva (https://github.com/sergodeeva)
// $color-background: #FFFFFF;
// $color-background: #fdf0d5;
// $color-background: #25274D;
$color-background: #ffffff;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);


$color-background-code: darken($color-background, 0%);
$color-border: rgb(247, 181, 181);
// $color-meta: #666;
$color-meta: #1d3557;
// $color-meta-code: lighten($color-meta, 10%);
$color-meta-code: #2196F3;
// $color-link: rgba(212, 128, 170, 1);
$color-link:#00a8e8;
// $color-text: #383838;
// $color-text: #FFFFFF;
$color-text: #000000;
$color-accent-3: #1d3557;
$color-accent-2: #e71d36;
// $color-accent-2: #43B02A;
// $color-accent-1: #2bbc8a;
$color-accent-1: #e71d36;
$color-quote: #1d3557;