/* .profpic {
    width: 200px;
    height: 200px; 
    padding: 20px;
    border-radius: 50%;
  } */

  .icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 0px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #04AA6D; /* Add an active/current color */
  }

  .container {
    overflow: hidden;
}
.column {
    float: left;
    margin: 20px;
    background-color: grey;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.cv_button {
  background-color: #e71d36; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0%;
}

.cv_button1 {
  background-color: #e71d36; 
  color: white; 
  border: 2px solid #e71d36;
}

.cv_button1:hover {
  background-color: #298cf7;
  color: white;
  border: 2px solid #298cf7;
}

.papericon {
  margin-left:2%;
 float:left; 
 height:40px;
 width:40px;	
 } 
 
 .paper_div {
   width:270px;
   height:auto;
   padding:1%;
     float:left;
 }

 h4{margin:0}
 .left {float:left;width:45px;}
 .right {float:left;margin:0 0 0 5px;width:215px;}

